/* css.css */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: darkmagenta;
    margin-bottom: 20px;
}

form {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(139, 0, 75, 0.1);
    width: 300px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #8B004B;
}

input[type="text"], input[type="email"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8B004B;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #72003b;
}

table {
    margin-top: 20px;
    width: 80%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f8f9fa;
    color: #8B004B;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ffe6f1;
}

.actions button {
    background-color: #8B004B;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.actions button:hover {
    background-color: #72003b;
}

.actions .delete {
    background-color: #D90452;
}

.actions .delete:hover {
    background-color: #b00342;
}
